<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
    <title></title>
    <!--  CSS  -->

    <link rel="stylesheet" href="assets/fonts/iconfont/material-icons.css">
    <link rel="stylesheet" href="assets/fonts/opensans/stylesheet.css">
    <link rel="stylesheet" href="assets/fonts/signika/stylesheet.css">

    <!-- libs -->
    <link rel="stylesheet" href="{{ output.assets ~ 'datatable/css/jquery.dataTables.css' }}">
    <link rel="stylesheet" href="{{ output.assets ~ 'datatable/css/fixedColumns.dataTables.css' }}">
    <link rel="stylesheet" href="{{ output.assets ~ 'arcgis/4.7/esri/css/main.css' }}">

    <link rel="stylesheet" href="css/responsive.css">



    <!--<script src="js/ui_onlineCuadros.js"></script>-->
    <script src="/assets/js/assets.js"></script>
    <script src="{{ output.assets ~ 'datatable/js/jquery.dataTables.js' }}"></script>
    <script src="{{ output.assets ~ 'datatable/js/dataTables.fixedColumns.js' }}"></script>
    <script src="{{ output.assets ~ 'highcharts/highcharts.js' }}"></script>
    <script src="{{ output.assets ~ 'highcharts/modules/exporting.js' }}"></script>
    <script src="{{ output.assets ~ 'arcgis/4.7/dojo/dojo.js' }}"></script>
    <script src="/js/app.js"></script>



</head>
<body>

<header>
    <button class="menuResponsive">
        <i class="material-icons">menu</i>
        <div style="display: none">

        </div>
    </button>
    <img src="img/logo_inei.png" />
    <h1>Perú: Crecimiento y distribución de la población, 2017 (Primeros Resultados)</h1>

</header>
<main>
    {% block wrapper %}{% endblock %}

</main>
{% block endscript %}{% endblock %}
</body>
</html>