{% extends "../base.html" %}
{% block menutitulo %} Cuadros Estadisticos {% endblock %}

{% block wrapper %}
<div id="modalLista" class="modal">
    <ul class="listaIndicadoresCEM">
        <li> Nº 3: Pob. femenina de 12 y más años de edad, por nro.de hijos, condición de actividad y grupos quinq.</li>
        <li> Nº 3: Pob. femenina de 12 y más años de edad, por nro.de hijos, condición de actividad y grupos quinq.</li>
        <li> Nº 3: Pob. femenina de 12 y más años de edad, por nro.de hijos, condición de actividad y grupos quinq.</li>
        <li class="active"> Nº 3: Pob. femenina de 12 y más años de edad, por nro.de hijos, condición de actividad y grupos quinq.</li>
        <li> Nº 3: Pob. femenina de 12 y más años de edad, por nro.de hijos, condición de actividad y grupos quinq.</li>
        <li> Nº 3: Pob. femenina de 12 y más años de edad, por nro.de hijos, condición de actividad y grupos quinq.</li>
        <li> Nº 3: Pob. femenina de 12 y más años de edad, por nro.de hijos, condición de actividad y grupos quinq.</li>
        <li> Nº 3: Pob. femenina de 12 y más años de edad, por nro.de hijos, condición de actividad y grupos quinq.</li>
        <li> Nº 3: Pob. femenina de 12 y más años de edad, por nro.de hijos, condición de actividad y grupos quinq.</li>
        <li> Nº 3: Pob. femenina de 12 y más años de edad, por nro.de hijos, condición de actividad y grupos quinq.</li>
        <li> Nº 3: Pob. femenina de 12 y más años de edad, por nro.de hijos, condición de actividad y grupos quinq.</li>
        <li> Nº 3: Pob. femenina de 12 y más años de edad, por nro.de hijos, condición de actividad y grupos quinq.</li>
        <li> Nº 3: Pob. femenina de 12 y más años de edad, por nro.de hijos, condición de actividad y grupos quinq.</li>

    </ul>
</div>
<header class="widget-NavegacionBar navResponsiveIndicadores " style="display: none">
    <div class="col-3-10" style="vertical-align: top">
        <div role="wraper" class="contentComboTitulos">
            <h5 class="mayusculas">Población</h5>
            <button class="botonDesplegarTitulos">
                <i class="material-icons">
                    keyboard_arrow_down </i>
            </button>

            <div  class="wraper contentListaTitulos" id="categoriasListaCE">
                <ul>
                    <li data-selected="selected" data-vista="vista0"><a class="LinkModalCE" href="#modalLista" rel="modal:open">Poblacion</a></li>
                    <li data-vista="vista1"><a class="LinkModalCE" href="#modalLista" rel="modal:open">Educación</a></li>
                    <li data-vista="vista2"><a class="LinkModalCE" href="#modalLista" rel="modal:open">Educación</a></li>
                    <li data-vista="vista3"><a class="LinkModalCE" href="#modalLista" rel="modal:open">Educación</a></li>
                    <li data-vista="vista4"><a class="LinkModalCE" href="#modalLista" rel="modal:open">Educación</a></li>
                </ul>
            </div>
        </div>
    </div>


    <div class="botonSim"><i class="material-icons">public</i>
        <div class="contentBuscadorUbigeoResponsive" style="display: none">
            <div class="inputBuscador">
                <input id="buscador-ubigeo2" type="search" placeholder="Buscar por Ubigeo">
                <button><i class="material-icons">search</i></button>
            </div>
        </div>
    </div>
    <button><i class="material-icons">vertical_align_bottom</i></button>

    <div class="blockNavegacion floatRight" id="navegacionButtonCE" >

        <button data-codevent="cuadros" class="botonNavegar active "><i class="material-icons">assignment</i></button>
        <button data-codevent="graficos" data-disc="graphCE" class="botonNavegar "><i class="material-icons">equalizer</i></button>
        <button data-codevent="metadatos" data-disc="metadata"  class="botonNavegar "><i class="material-icons">info</i></button>
    </div>
</header>

<div class="col-2-10 ventanaCE  contenedorVentana ceContenedorIndice"  >
    <section class="marginTop-0" >
        <header class="b_grissuave">
            <div class="col-2-2 contennedorTituloVentana">
                <h2 class="tituloIndiceTematico"> <span class="dripicons-view-list"></span>
                    Indice temático</h2>
            </div>
        </header>
        <div class="contenedorIndice" >
            <div class="buscarIndicadoreTematicos">
                <div>
                    <input type="text" placeholder="Buscar">
                    <div class="dripicons-search icoInputTematico"> </div>
                </div>
            </div>
            <div class="contenedorListaCE">
                <ul>
                    <li>
                        <span class="icon-home"></span>
                        <span>VIVIENDA</span>
                        <span class=" expandirLista dripicons-chevron-right"></span>
                    </li>
                    <li class="active">
                        <span class="dripicons-view-thumb"></span>
                        <span>HOGAR</span>
                        <span class=" expandirLista dripicons-chevron-down"></span>
                        <ul class="subListaCE">
                            <li> item 1 <span class=" expandirLista dripicons-chevron-right"></span></li>
                            <li class="active"> item 2 <span class=" expandirLista dripicons-chevron-right"></span></li>
                            <li> item 3 <span class=" expandirLista dripicons-chevron-right"></span></li>
                        </ul>
                    </li>
                    <li>
                        <span class="icon-users"></span>
                        <span>POBLACION</span>
                        <span class=" expandirLista dripicons-chevron-right"></span>
                    </li>
                    <li>
                        <span class="icon-graduation"></span>
                        <span>EDUCACION</span>
                        <span class=" expandirLista dripicons-chevron-right"></span>
                    </li>
                    <li>
                        <span class="icon-briefcase"></span>
                        <span>ACTIVIDAD</span>
                        <span class=" expandirLista dripicons-chevron-right"></span>
                    </li>
                    <li>
                        <span class="icon-plus"></span>
                        <span>SALUD</span>
                        <span class=" expandirLista dripicons-chevron-right"></span>
                    </li>

                </ul>

            </div>


        </div>
    </section>
</div><!--
        --><div class="col-2-10 ventanaCE  contenedorVentana ceContenedorIndiceLista" >
    <section class="marginTop-0">
        <ul class="listaIndicadoresCE" style="">
            <li> Nº 3: Pob. femenina de 12 y más años de edad, por nro.de hijos, condición de actividad y grupos quinq.</li>
            <li> Nº 3: Pob. femenina de 12 y más años de edad, por nro.de hijos, condición de actividad y grupos quinq.</li>
            <li> Nº 3: Pob. femenina de 12 y más años de edad, por nro.de hijos, condición de actividad y grupos quinq.</li>
            <li class="active"> Nº 3: Pob. femenina de 12 y más años de edad, por nro.de hijos, condición de actividad y grupos quinq.</li>
            <li> Nº 3: Pob. femenina de 12 y más años de edad, por nro.de hijos, condición de actividad y grupos quinq.</li>
            <li> Nº 3: Pob. femenina de 12 y más años de edad, por nro.de hijos, condición de actividad y grupos quinq.</li>
            <li> Nº 3: Pob. femenina de 12 y más años de edad, por nro.de hijos, condición de actividad y grupos quinq.</li>
            <li> Nº 3: Pob. femenina de 12 y más años de edad, por nro.de hijos, condición de actividad y grupos quinq.</li>
            <li> Nº 3: Pob. femenina de 12 y más años de edad, por nro.de hijos, condición de actividad y grupos quinq.</li>
            <li> Nº 3: Pob. femenina de 12 y más años de edad, por nro.de hijos, condición de actividad y grupos quinq.</li>
            <li> Nº 3: Pob. femenina de 12 y más años de edad, por nro.de hijos, condición de actividad y grupos quinq.</li>
            <li> Nº 3: Pob. femenina de 12 y más años de edad, por nro.de hijos, condición de actividad y grupos quinq.</li>
            <li> Nº 3: Pob. femenina de 12 y más años de edad, por nro.de hijos, condición de actividad y grupos quinq.</li>

        </ul>
    </section>
</div><!--
         --><div class="col-4-10 ventanaCE contenedorVentana" data-codevent="cuadros" id="area">
    <section class="marginLeft-10 marginRight-10" >
        <header class="b_grissuave">
            <div class="col-7-10 contennedorTituloVentana verticalAlignTop ">
                <div class="col-2-2 tabSubTitulo">
                    <h2 class="activeSubTabVentana"> <span data-icon="&#xe051;"></span>
                        Cuadros</h2><!--
                    --><h2> <span data-icon="&#xe002;"></span>
                    Gráficos </h2>
                </div>

            </div><!--
                     --><div class="col-3-10 contenedorBotonesVentana" >
            <button data-icon="&#xe038;" data-title="Imprimir" class="tooltip imprimir"></button>
            <button data-icon=":" data-title="Descargar" class="tooltip"></button>

        </div>
        </header>
        <div class="contenidoCuadro">
            {% include 'indicadores/cuadro.html' %}
        </div>
        <div class="contenidoGraficoCE"  style="display: none">
            Graficos ...
        </div>
    </section>
</div><!--
--><div class="col-2-10 ventanaCE contenedorVentana "  data-codevent="metadatos">
    <section class="marginRight-10" >
        <header class="b_grissuave">
            <div class="col-6-10 contennedorTituloVentana">
                <h2> <span data-icon="&#xe012;"></span>
                    Metadatos</h2>
            </div><!--
                     --><div class="col-4-10 contenedorBotonesVentana ">
            <button data-icon="&#xe038;" data-title="Imprimir" class="tooltip imprimir"></button>
            <button data-icon=":" data-title="Descargar" class="tooltip descargarMapa"></button>

        </div>
        </header>
        <div class="contenidoMetadatoCE" >



            <div class="contenedorMetadatosCE">
                <div class="contenidoMetadato pm1">
                    <h3>DEFINICIóN</h3>
                    <p>Conocida también como "población empadronada", es la población que recibió la visita de los empadronadores
                        en sus viviendas para solicitarles información de todos los habitantes de la vivienda y registrarlos en
                        las cédulas de empadronamiento. Usualmente, esta actividad se realiza a través de los censos nacionales
                        de población y vivienda, realizados en todo el territorio nacional y en sus aguas jurisdiccionales en una
                        fecha o periodo</p>
                </div>
                <div class="contenidoMetadato pm2">
                    <h3>Algoritmo</h3>
                    <div class="eq-c">
                        <i>c</i>(NaOH) =
                        <div class="fraction">
                            <span class="fup"><i>n</i>(NaOH)</span>
                            <span class="bar">/</span>
                            <span class="fdn"><i>V</i>(NaOH)</span>
                        </div>
                        = 1.2345 mol dm<sup>-3</sup>
                    </div>
                </div>
                <div class="contenidoMetadato pm3">
                    <h3>Variables</h3>
                    <p>No aplica para este indicador.</p>
                </div>
                <div class="contenidoMetadato pm4">
                    <h3>Unidad de medida</h3>
                    <p>Debido a las características de este indicador no se aplica ninguna fórmula.</p>
                </div>
                <div class="contenidoMetadato pm1">
                    <h3>Cobertura Geografica</h3>
                    <p>Debido a las características de este indicador no se aplica ninguna fórmula.</p>
                </div>
                <div class="contenidoMetadato pm2">
                    <h3> Precisiones tecnicas</h3>
                    <p>Debido a las características de este indicador no se aplica ninguna fórmula.</p>
                </div>
            </div>

        </div>
    </section>
</div><!--
--><div class="col-2-10 ventanaCE contenedorVentana "  data-codevent="graficos">
    <section class="marginRight-10" >

        <div class="contenidoGraficosCE" >


                <div class="tituloCuadrosCE">Titulo de los Cuadros/ Graficos </div>


        </div>
    </section>
</div>
{% endblock %}
