{% extends "../base_dashboard.html" %}
{% block wrapper %}
    <nav class="nav-vertical col-1-10">
        <button class="cbutt1">
            <a href="./dashboard.html">
                <img src="img/icoPrin.png" height="49" width="50"/>
                <h4 class="marginTop-10">Primeros <br />Resultados</h4>
            </a>
        </button>

        <button class="cbutt2">
            <a href="./indicadores.html">
                <img src="img/icoPrin.png" height="49" width="50"/>
                <h4 class="marginTop-10">Principales Indicadores</h4>
            </a>
        </button>
        <button class="cbutt2">
            <a href="./pobreza.html">
                <img src="/img/icoPobre.png" height="49" width="50"/>
                <h4 class="marginTop-10">Mapa <br />de pobreza</h4>
            </a>
        </button>
        <button class="cbutt2">
            <a href="./cuadros.html">
                <img src="img/icoCuadro.png" height="49" width="50"/>
                <h4 class="marginTop-10">Cuadros <br />estadisticos</h4>
            </a>
        </button>
        <button class="cbutt2">
            <a href="#">
                <img src="img/icoData.png" height="49" width="50"/>
                <h4 class="marginTop-10">Data Warehouse</h4>
            </a>
        </button>

        <button class="bg_grisOscuroNav irPdfNav">
            <a href="#">
                <h4 class="marginTop-10"><i class="material-icons paddingRight-10 vAlignMid"> description </i>Versión PDF</h4>
            </a>
        </button>

    </nav><!--
     --><section id="contenedorPrincipalDashIni" class="content-row col-10-10" >
    <section class="resumen-button-top" >
        <div class="col-1-6  colorBlanco">
            <div role="wrap " class="bg_AzulInei padding-10 margin-10">
                <h4>Población total</h4>
                <h2 class="padding-4">31 237 385</h2>
                <p class="textSize-09 mayusculas"> población censada y población omitida durante el empadronamiento </p>
            </div>
        </div><!--
               --><div class="col-1-6 colorBlanco">
        <div role="wrap " class="bg_CelesteInei padding-10 margin-10">
            <h4>Población efectivamente censada</h4>
            <h1 class="padding-3">29 381 884</h1>

        </div>
    </div><!--
               --><div class="col-1-6 colorBlanco resumenIconoDatos   " >
        <div role="wrap" class=" margin-10 bg_blanco">
            <div class="resumenIcono bg_NaranjaInei">
                <img src="img/manInit.png" height="34" width="34"/>
            </div><!--
                      --><div class="resumenDatos ">
            <div role="wrap" class="padding-10">
                <h4 class="colorNaranjaInei">HOMBRES</h4>
                <h1 class="colorGris66">14 450 757</h1>
                <p class="textSize-10 mayusculas colorGris66">DEL TOTAL DE LA POBLACIóN CENSADA</p>
            </div>


        </div>
        </div>

    </div><!--
               --><div class="col-1-6 colorBlanco resumenIconoDatos">
        <div role="wrap" class=" margin-10 bg_blanco">
            <div class="resumenIcono bg_RojoPasionInei">
                <img src="img/womanInit.png" height="34" width="34"/>
            </div><!--
                          --><div class="resumenDatos ">
            <div role="wrap" class="padding-10">
                <h4 class="colorRojoPasionInei">MUJERES</h4>
                <h1 class="colorGris66">14 931 127</h1>
                <p class="textSize-10 mayusculas colorGris66">DEL TOTAL DE LA POBLACIóN CENSADA</p>
            </div>
        </div>
        </div>
    </div><!--
               --><div class="col-1-6 colorBlanco">
        <div role="wrap " class="bg_CelesteJadeAceroInei padding-10 margin-10">
            <h4>Población <br> urbana</h4>
            <h1 class="padding-3">24 205 921</h1>

        </div>

    </div><!--
               --><div class="col-1-6 colorBlanco">
        <div role="wrap" class="bg_celesteAcero padding-10 margin-10">
            <h4 class="">Población<br> rural</h4>
            <h1 class="padding-3">5 175 963</h1>

        </div>
    </div>

    </section>
    <section class="resumen-button-top agruparTres"  >
        <div class="col-2-6  colorBlanco">
            <div role="wraper" class="margin-10">
                <div role="wrap" class="bg_AzulInei col-5-10 box1Content">
                    <div class="padding-10">
                        <h4 class="box1Tablet" >Población total</h4>
                        <h2 class="padding-4">31 237 385</h2>
                        <p class="textSize-08 mayusculas "> población censada y población omitida durante el empadronamiento </p>
                    </div>
                </div><!--
                     --><div role="wrap" class="bg_CelesteInei  col-5-10">
                <div class="padding-10">
                    <h4 class="textSize-13">Población efectivamente censada</h4>
                    <h1 class="">29 381 884</h1>
                </div>

            </div>
            </div>

        </div><!--
                   --><div class="col-2-6" >
        <div class="wraper margin-10 marginLeftRight-0 ">
            <div role="wraper" class="bg_blanco colorBlanco resumenIconoDatos">
                    <div role="wrap" class="col-5-10">
                        <div class="padding-10">
                            <h4 class="colorNaranjaInei">HOMBRES</h4>
                            <h1 class="colorGris66">14 450 757</h1>
                            <p class="textSize-10 mayusculas colorGris66">DEL TOTAL DE LA POBLACIóN CENSADA</p>
                        </div>

                    </div><!--
                 --><div role="wrap" class="col-5-10">
                        <div class="padding-10">
                            <h4 class="colorRojoPasionInei">MUJERES</h4>
                            <h1 class="colorGris66">14 931 127</h1>
                            <p class="textSize-10 mayusculas colorGris66">DEL TOTAL DE LA POBLACIóN CENSADA</p>
                        </div>

                    </div>
            </div>
        </div>


    </div><!--
                   --><div class="col-2-6  colorBlanco">
        <div role="wraper" class="margin-10">
            <div role="wrap" class="bg_AzulInei col-5-10 ">
                <div class="padding-10">
                    <h4 >Población <br> urbana</h4>
                    <h2 class="padding-4">24 205 921</h2>

                </div>
            </div><!--
                     --><div role="wrap" class="bg_CelesteInei  col-5-10">
            <div class="padding-10">
                <h4 class="">Población <br> rural </h4>
                <h2 class="padding-4">5 175 963</h2>
            </div>

        </div>
        </div>

    </div>

    </section>
    <section class="resumen-button-top agruparDos"  >
        <div class="col-3-6  colorBlanco">
            <div role="wraper" class="margin-10 bloqueuno">
                <div role="wrap" class="bg_AzulInei col-5-10 box1Content">
                    <div class="padding-10">
                        <h4 class="box1Tablet" >Población total</h4>
                        <h2 class="padding-4">31 237 385</h2>
                        <p class="textSize-08 mayusculas "> población censada y población omitida durante el empadronamiento </p>
                    </div>
                </div><!--
                     --><div role="wrap" class="bg_CelesteInei  col-5-10">
                <div class="padding-10">
                    <h4 class="textSize-13">Población efectivamente censada</h4>
                    <h1 class="">29 381 884</h1>
                </div>

            </div>
            </div>

        </div><!--
                   --><div class="col-3-6" >
        <div class="wraper margin-10 marginLeftRight-0 bloquedos">
            <div role="wraper" class="bg_blanco colorBlanco resumenIconoDatos">
                <div role="wrap" class="col-5-10">
                    <div class="padding-10">
                        <h4 class="colorNaranjaInei">HOMBRES</h4>
                        <h1 class="colorGris66">14 450 757</h1>
                        <p class="textSize-10 mayusculas colorGris66">DEL TOTAL DE LA POBLACIóN CENSADA</p>
                    </div>

                </div><!--
                 --><div role="wrap" class="col-5-10">
                <div class="padding-10">
                    <h4 class="colorRojoPasionInei">MUJERES</h4>
                    <h1 class="colorGris66">14 931 127</h1>
                    <p class="textSize-10 mayusculas colorGris66">DEL TOTAL DE LA POBLACIóN CENSADA</p>
                </div>

            </div>
            </div>
        </div>


    </div><!--
                   --><div class="col-6-6  colorBlanco">
        <div role="wraper" class="margin-10 bloquetres">
            <div role="wrap" class="bg_AzulInei col-5-10 ">
                <div class="padding-10">
                    <h4><span>Población urbana: </span><span> 24 205 921</span> </h4>

                </div>
            </div><!--
                     --><div role="wrap" class="bg_CelesteInei  col-5-10">
            <div class="padding-10">
                <h4 class=""><span>Población  rural: </span><span> 5 175 963 </span></h4>

            </div>

        </div>
        </div>

    </div>

    </section>
    <section>
        <article class="ventana marginBottom-10 col-5-10" id="bloque1">
            <header>
                <h2>
                    1. Resultados de los Censos de la Población Peruana desde 1940
                    <button class="colorAzulInei ventanaMaximizar tooltipDash " data-title="Maximizar" ><i class="material-icons">zoom_out_map</i></button>

                </h2>


            </header>
            <section>
                <header class="widget-vistaInteractiva-comboToolsBox">
                    <div class="col-6-10">
                        <div role="wraper" class="contentComboTitulos">
                            <h5 class="mayusculas"></h5>
                            <button class="botonDesplegarTitulos">
                                <i class="material-icons">
                                    keyboard_arrow_down </i>
                            </button>

                            <div class="wraper contentListaTitulos">
                                <ul>
                                    <li data-selected="selected" data-vista="vista0">1.1 Población a través de los censos</li>
                                    <li data-vista="vista1">1.2 Crecimiento de la población</li>
                                    <li data-vista="vista2">1.3 Densidad poblacional</li>
                                    <li data-vista="vista3">1.4 La Población del Perú en el contexto en América del Sur y América Latina</li>
                                    <li data-vista="vista4">1.5 Densidad poblacional en América del Sur y América Latina</li>
                                </ul>
                            </div>
                        </div>
                    </div><!--
                         --><div class="col-4-10">
                    <div class="wraper BarraHerramientas "></div>
                </div><!--
                --><!--<div class="contentSelect col-3-10">
                    <select class="mapaSelect">
                        <option>opt1</option>
                        <option>opt2</option>
                    </select>
                </div> -->
                </header>
                <div class="wraper contentTabs">
                    {% include 'dashboard/contenttabs.html' with {'bloque': 'bloque1'}  %}
                </div>

            </section>
        </article><!--
            --><article class="ventana marginBottom-10 col-5-10" id="bloque2">
        <header>
            <h2>
                2. Estructura y Composición de la Población
                <button class="colorAzulInei ventanaMaximizar tooltipDash " data-title="Maximizar" ><i class="material-icons">zoom_out_map</i></button>

            </h2>


        </header>
        <section>
            <header class="widget-vistaInteractiva-comboToolsBox">
                <div class="col-6-10">
                    <div role="wraper" class="contentComboTitulos">

                        <h5 class="mayusculas"></h5>
                        <button class="botonDesplegarTitulos">
                            <i class="material-icons">
                                keyboard_arrow_down </i>
                        </button>
                        <div class="wraper contentListaTitulos">
                            <ul>
                                <li data-selected="selected" data-vista="vista0">2.1 Composición de la población por sexo</li>
                                <li data-vista="vista1">2.2 Estructura por edad de la población</li>
                                <li data-vista="vista2">2.3 Índice de Masculinidad</li>
                            </ul>
                        </div>
                    </div>
                </div><!--
                         --><div class="col-4-10">
                <div class="wraper BarraHerramientas "></div>
            </div>
            </header>
            <div class="wraper contentTabs">
                {% include 'dashboard/contenttabs.html' with {'bloque': 'bloque2'}  %}
            </div>
        </section>
    </article><!--
            --><article class="ventana col-5-10 marginBottom-10" id="bloque3">
        <header>
            <h2>
                3. Distribución Espacial de la Población
                <button class="colorAzulInei ventanaMaximizar tooltipDash " data-title="Maximizar" ><i class="material-icons">zoom_out_map</i></button>

            </h2>


        </header>
        <section>
            <header class="widget-vistaInteractiva-comboToolsBox">
                <div class="col-6-10">
                    <div role="wraper" class="contentComboTitulos">

                        <h5 class="mayusculas"></h5>
                        <button class="botonDesplegarTitulos">
                            <i class="material-icons">
                                keyboard_arrow_down </i>
                        </button>
                        <div class="wraper contentListaTitulos">
                            <ul>
                                <li data-selected="selected" data-vista="vista0">3.1 Distribución de la población por región natural y tasa de crecimiento</li>
                                <li data-vista="vista1">3.2 Distribución de la población por departamento y tasa de crecimiento</li>
                                <li data-vista="vista2" class="marginLeft-20">3.2.1 Tasa de crecimiento promedio anual por departamento</li>
                                <li data-vista="vista3">3.3 Densidad poblacional por departamento</li>
                            </ul>
                        </div>
                    </div>
                </div><!--
                         --><div class="col-4-10">
                <div class="wraper BarraHerramientas "></div>
            </div>
            </header>
            <div class="wraper contentTabs">
                {% include 'dashboard/contenttabs.html' with {'bloque': 'bloque3'}  %}
            </div>
        </section>
    </article><!--
            --><article class="ventana col-5-10 marginBottom-10" id="bloque4">
        <header>
            <h2>
                4. Provincias y Distritos más poblados
                <button class="colorAzulInei ventanaMaximizar tooltipDash " data-title="Maximizar" ><i class="material-icons">zoom_out_map</i></button>

            </h2>


        </header>
        <section>
            <header class="widget-vistaInteractiva-comboToolsBox">
                <div class="col-6-10">
                    <div role="wraper" class="contentComboTitulos">

                        <h5 class="mayusculas"></h5>
                        <button class="botonDesplegarTitulos">
                            <i class="material-icons">
                                keyboard_arrow_down </i>
                        </button>
                        <div class="wraper contentListaTitulos">
                            <ul>
                                <li data-selected="selected" data-vista="vista0">4.1 Provincias más pobladas</li>
                                <li data-vista="vista1">4.2 Distritos más poblados</li>
                            </ul>
                        </div>
                    </div>
                </div><!--
                         --><div class="col-4-10">
                <div class="wraper BarraHerramientas "></div>
            </div>
            </header>
            <div class="wraper contentTabs">
                {% include 'dashboard/contenttabs.html' with {'bloque': 'bloque4'}  %}
            </div>
        </section>
    </article>
    </section>
</section>
{% endblock %}

{% block endscript %}
<script type="text/javascript">
    $(document).ready(function (e) {
        App.init('dashboard', ['dashboard','mapasDashBoard']);
    });
</script>
{% endblock %}