{% extends "../base.html" %}
{% block menutitulo %} Principales indicadores {% endblock %}
{% block wrapper %}
<div class="col-4-10 ventanaMapa contenedorVentana" data-codevent="mapas" data-cod="1" >
    <section >
        <header class="b_grissuave">
            <div class="col-6-10 contennedorTituloVentana">
                <h2> <span data-icon="&#xe012;"></span>
                    Mapa temático</h2>
            </div><!--
                     --><div class="col-4-10 contenedorBotonesVentana ">
            <button data-icon="&#xe038;" data-title="Imprimir" class="tooltip imprimir"></button>
            <button data-icon=":" data-title="Descargar" class="tooltip descargarMapa"></button>
            <button data-icon="&#xe024;" data-title="Minimizar" class="tooltip minimizar"></button>
            <button data-icon=">" data-title="Maximizar ventana" class="tooltip maximizar"></button>
        </div>
        </header>
        <div class="contenidoMapa" >
            {% include 'indicadores/mapa.html' %}
        </div>
    </section>
</div><!--
         --><div class="col-35 ventanaTabla contenedorVentana" data-codevent="cuadros" data-cod="5" id="area">
    <section >
        <header class="b_grissuave">
            <div class="col-6-10 contennedorTituloVentana">
                <h2> <span data-icon="&#xe051;"></span>
                    Indicadores</h2>
            </div><!--
                     --><div class="col-4-10 contenedorBotonesVentana" >
            <button data-icon="&#xe038;" data-title="Imprimir" class="tooltip imprimir"></button>
            <button data-icon=":" data-title="Descargar" class="tooltip"></button>
            <button data-icon="&#xe024;" data-title="Minimizar" class="tooltip minimizar"></button>
            <button data-icon=">" data-title="Maximizar ventana" class="tooltip maximizar" ></button>
        </div>
        </header>
        <div class="contenidoCuadro">
            {% include 'indicadores/cuadro.html' %}
        </div>
    </section>
</div><!--
         --><div class="col-1-4 ventanaGrafico contenedorVentana" data-codevent="graficos" data-cod="7">
    <section>
        <header class="b_grissuave">
            <div class="col-6-10 contennedorTituloVentana">
                <h2> <span data-icon="&#xe002;"></span>
                    Gráficos y metadatos</h2>
            </div><!--
                     --><div class="col-4-10 contenedorBotonesVentana">
            <button data-icon="&#xe038;" data-title="Imprimir" class="tooltip imprimir"></button>
            <button data-icon=":" data-title="Descargar" class="tooltip descargarGrafico "></button>
            <button data-icon="&#xe024;" data-title="Minimizar" class="tooltip minimizar"></button>
            <button data-icon=">" data-title="Maximizar ventana" class="tooltip maximizar" ></button>
        </div>
        </header>
        <div class="contenidoGrafico">
            {% include 'indicadores/graficos.html' %}
        </div>

    </section>
</div>
{% endblock %}

{% block endscript %}
<script type="text/javascript">
    $(document).ready(function (e) {
        App.init('indicadores', ['mapas', 'cuadros', 'graficos']);
    });
</script>
{% endblock %}
