{% extends "../base_responsive.html" %}

{% block wrapper %}
<header class="widget-NavegacionBar ">

    <div class="col-5-10">
        <div role="wraper" class="contentComboTitulos">
            <h5 class="mayusculas">1.1 Población a través de los censos</h5>
            <button class="botonDesplegarTitulos">
                <i class="material-icons">
                    keyboard_arrow_down </i>
            </button>

            <div class="wraper contentListaTitulos">
                <ul>
                    <li data-selected="selected" data-vista="vista0">1.1 Población a través de los censos</li>
                    <li data-vista="vista1">1.2 Crecimiento de la población</li>
                    <li data-vista="vista2">1.3 Densidad poblacional</li>
                    <li data-vista="vista3">1.4 La Población del Perú en el contexto en América del Sur y América Latina</li>
                    <li data-vista="vista4">1.5 Densidad poblacional en América del Sur y América Latina</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="inputBuscador">
        <input type="search">
        <button><i class="material-icons">search</i></button>
    </div>
    <button><i class="material-icons">vertical_align_bottom</i></button>

    <div class="blockNavegacion floatRight">
        <button data-block="1" class="active botonNavegar "><i class="material-icons">place</i></button>
        <button data-block="2" class="botonNavegar "><i class="material-icons">equalizer</i></button>
        <button data-block="3" class="botonNavegar "><i class="material-icons">assignment</i></button>
        <button data-block="4" class="botonNavegar "><i class="material-icons">info</i></button>



    </div>




</header>
<section class="block" data-block="1">1</section>
<section class="block" data-block="2">2</section>
<section class="block" data-block="3">3</section>
<section class="block" data-block="4">4</section>


{% endblock %}