/* Custom para sistema Online de indicadores censo 2017 DMK */

/* body */
body {
    max-width: 100%;
    overflow: hidden;
}

/* Tooltip DMK */
.tooltip {
    position: relative;

}

.tooltip .tooltiptext {
    visibility: hidden;
    max-width: 80px;
    width: 80px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin: 0 auto;
    left:-33px;
    font-family: "signikaregular";
    font-size: 13px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;

}

.tooltip.ayudaInformacion .tooltiptext, .tooltip.miniTop .tooltiptext  {
    left:0px;
}



/* Botones de busqeudas */

button.ubigeoGenerado span{
    background: #795548;
    padding: 2px 6px;
    vertical-align: inherit;
    border-radius: 100%;
    color: #ffedd5;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
}

button.ubigeoGenerado:active{
    box-shadow: rgba(0, 0, 0, 0.57) 0px 0px 14px inset;
}


/* POopover */
#contenedorPopover {
    position: absolute;
    z-index: 999;
}


.popover {


}

.popoverTitulo {
    color: #12284c;
    font-size: 15px;
    border-bottom: #12284c solid 1px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    display: block;
    text-align: left;
    font-weight: normal;
}

.popovertext {
    max-width: 180px;
    width:180px;
    max-height: 80px;
    height: 80px;
    background-color: white;
    color: #666666;
    text-align: left;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    margin: 0 auto;
    display: block;

    font-family: "signikaregular";
    font-size: 14px;
    box-shadow: #666666 0px 0px 8px;
}

.popovertext::after {
    content: "";
    position: absolute;
    bottom: 50%;
    left: 100%;
    margin-left: 0px;
    border-width: 6px;
    border-style: solid;
    border-color:  transparent  transparent  transparent white;
}

td.popover:hover {
    color: white !important;
    background-color: #4a6289 !important;
    cursor: pointer;
}


.cuadroPobreza td.popover:hover{
    background-color: #bf1d1d !important;
}


/* asd */

.content_dropMenu{
    position: relative;
}
.dropDownMenu {
    width: 260px;
    background-color: white;
    box-shadow: black 0px 0px 5px;
    position: absolute;
    z-index: 99;
    top: 70px;
    right: 0;
    display: none;
    text-align: left;
    color: #333333;
    font-family: signikaregular;
    font-size: 14px;

}
.dropDownMenu > a {
    text-align:left !important;
    width: 112px;
}


.dropDownMenuTop {
    position: absolute;
    background-color: #12284c;
    font-size: 14px;
    z-index: 99;
    top: 70px;
    right: 0;
    display: none;
}

.dropDownMenuTop>div:hover {
    background-color:#1B3C71 ;
}

.dropDownMenuTop .active_top{
    background-color:#009ae0 ;
}

.dropDownMenuTop > div {
    padding: 15px 20px;
    width: 160px;
}


.tabHeader button.button_menuTop{
    vertical-align: top;
    padding: 0px 20px;
    position: relative;
}

.tabHeader button.button_menuTop:hover {
    background-color: #12284c;
    color: white;
}

button.menuResponsive{
    vertical-align: middle;
    padding: 14px 20px;
    position: relative;
    color: white;
    background: transparent;
    font-size: 20px;
    display: none;
}
button.menuResponsive:hover {
    background-color: #12284c;
    color: white;
}



/* General */

.col-35 { /* Columna espacio especial mapa */
    width: 35%;
}

.headerPrincipal {
    min-height: 70px;
    max-height: 72px;
}


/* Header Principal */

/* Logo y titulo */
.secLogoTitulo div, h1 {
    display: inline-block;
    margin:0px;
    padding:0px;
    vertical-align: middle;
}
.secLogoTitulo img {
    height: 50px;
    padding: 7px 20px;
}

.secLogoTitulo h1 {
    font-size: 22px;
    font-family: 'signikaregular';
    font-weight: normal;
    padding: 0px 40px;
    text-transform: uppercase;

}

/* Tabs del Header */
.tabHeader button {
    display: inline-block;
    color: #FFFFFF;
    background-color: #1B3C71;
    font-family: 'signikaregular';
    font-weight: normal;
    font-size:18px;
    padding: 0px 20px;
    text-transform: uppercase;
    height:70px;
}

.tabHeader button:hover {
    color: #1B3C71;
    background-color: #E6E6E6;
    height: 70px;
}

.tabHeader button.tabActivo {

    color: #1B3C71;
    background-color: #E6E6E6;
    height: 70px;
}

/* Barra de herramientas del Header */
.barHerramientasHeader{ /* Fijando alto */
    height: 70px;
    vertical-align: top;
}

.barHerramientasHeader button{
    background-color: #1B3C71;
    color: #FFFFFF;
    font-size: 28px;
    vertical-align: top;
    height: 70px;
    padding: 0px;
    width: 100%;
}

.barHerramientasHeader button:hover {
    text-shadow: 3px 5px 7px #000;
    margin-top: -5px;
    background-color: #12284c;
}


.barHerramientasHeader div { /* alinear a la izquierda botones de herramientas */
    text-align: right;
    vertical-align: top;
}

div.btnMapa , div.btnIndicadores , div.btnGraficos { /* Inicia ocultos los botones de ventanas minimizadas */
    display: none;
}

.animacionbtn{
    background-color:#12284c !important;
    -webkit-animation-name: anmationBTN; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: animationBTN;
    animation-duration: 0.6s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes animationBTN {
    0%   {background-color: #1B3C71;}
    20%  {background-color: #216fb6;}
    50%  {background-color: #1B3C71;}
    70% {background-color: #216fb6;}
    100%  {background-color: #12284c;}
}

/* Standard syntax */
@keyframes animationBTN {
    0%   {background-color: #1B3C71;}
    20%  {background-color: #216fb6;}
    50%  {background-color: #1B3C71;}
    70% {background-color: #216fb6;}
    100%  {background-color: #1B3C71;}

}



/* Seccion Principal */

.seccionPrincipal {
    text-align:center;
}

/* Ventanas */

.ventanaMapa, .ventanaTabla, .ventanaGrafico {
    vertical-align: top;

}

.ventanaMapa > section{
    background-color: #FFFFFF;
    margin: 10px 10px;
    margin-bottom: 0px !important;

}
.ventanaTabla > section{
    background-color: #FFFFFF;
    margin: 10px 0px;
    margin-bottom: 0px !important;
}
.ventanaGrafico > section {
    background-color: #FFFFFF;
    margin: 10px 10px;
    margin-bottom: 0px !important;
}

/* Ventana Mapa */
.ventanaMapa header{

}
.contennedorTituloVentana h2 {
    border-left: #1B3C71 solid 5px;
    margin: 0px;
    font-family: 'signikaregular';
    font-size: 18px;
    text-transform: uppercase;
    font-weight: normal;
    padding: 10px 0px;
    text-align: left;
    color: #1B3C71;
}
.contennedorTituloVentana h2 > span {
    padding: 0px 12px;
}


.contenedorBotonesVentana {
    text-align: right;
}

.contenedorBotonesVentana > button {
    background-color:#E6E6E6;
    color: #444444;
    padding:10px 5px;
}

.contenedorBotonesVentana > button:nth-child(1), .contenedorBotonesVentana > button:nth-child(2){
    color:#1B3C71;
}

.contenedorBotonesVentana > button:hover {

    color: #D57008;
    background-color: #FFF;
}


.contenedorBotonesVentana > button:last-child {
    margin-right: 10px;
}



/* ventana Mapa */

div.contenidoMapa{
    text-align: left;
}




/* Sociales */

.textSharingBu{
    display: inline-block;
    vertical-align: middle !important;
    margin-right: 10px;
    color: black;
}

.resp-sharing-button__link,
.resp-sharing-button__icon {
    display: inline-block
}

.resp-sharing-button__link {
    text-decoration: none;
    color: #fff;
    margin: 0.5em

}

.resp-sharing-button {
    border-radius: 5px;
    transition: 25ms ease-out;
    padding: 0.5em 0.75em;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    display: inline-block;
    vertical-align: middle !important;
}

.resp-sharing-button__icon svg {
    width: 1em;
    height: 1em;
    margin-right: 0.4em;
    vertical-align: top
}

.resp-sharing-button--small svg {
    margin: 0;
    vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
    stroke: #fff;
    fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
    fill: #fff;
    stroke: none
}

.resp-sharing-button--twitter {
    background-color: #55acee
}

.resp-sharing-button--twitter:hover {
    background-color: #2795e9
}

.resp-sharing-button--pinterest {
    background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
    background-color: #8c0615
}

.resp-sharing-button--facebook {
    background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
    background-color: #2d4373
}

.resp-sharing-button--tumblr {
    background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
    background-color: #222d3c
}

.resp-sharing-button--reddit {
    background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
    background-color: #3a80c1
}

.resp-sharing-button--google {
    background-color: #dd4b39
}

.resp-sharing-button--google:hover {
    background-color: #c23321
}

.resp-sharing-button--linkedin {
    background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
    background-color: #046293
}

.resp-sharing-button--email {
    background-color: #777
}

.resp-sharing-button--email:hover {
    background-color: #5e5e5e
}

.resp-sharing-button--xing {
    background-color: #1a7576
}

.resp-sharing-button--xing:hover {
    background-color: #114c4c
}

.resp-sharing-button--whatsapp {
    background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
    background-color: #1da851
}

.resp-sharing-button--hackernews {
    background-color: #FF6600
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }

.resp-sharing-button--vk {
    background-color: #507299
}

.resp-sharing-button--vk:hover {
    background-color: #43648c
}

.resp-sharing-button--facebook {
    background-color: #3b5998;
    border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
    background-color: #2d4373;
    border-color: #2d4373;
}

.resp-sharing-button--twitter {
    background-color: #55acee;
    border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
    background-color: #2795e9;
    border-color: #2795e9;
}

.resp-sharing-button--google {
    background-color: #dd4b39;
    border-color: #dd4b39;
}

.resp-sharing-button--google:hover,
.resp-sharing-button--google:active {
    background-color: #c23321;
    border-color: #c23321;
}

.resp-sharing-button--email {
    background-color: #777777;
    border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
    background-color: #5e5e5e;
    border-color: #5e5e5e;
}

.resp-sharing-button--linkedin {
    background-color: #0077b5;
    border-color: #0077b5;
}

.resp-sharing-button--linkedin:hover,
.resp-sharing-button--linkedin:active {
    background-color: #046293;
    border-color: #046293;
}

.resp-sharing-button--whatsapp {
    background-color: #25D366;
    border-color: #25D366;
}

.resp-sharing-button--whatsapp:hover,
.resp-sharing-button--whatsapp:active {
    background-color: #1DA851;
    border-color: #1DA851;
}

.resp-sharing-button--telegram {
    background-color: #54A9EB;
}

.resp-sharing-button--telegram:hover {
    background-color: #4B97D1;}

nav.nav-vertical button.cbutt1 {
    background-color: #2F6ABC; }

nav.nav-vertical button.cbutt2 {
    background-color: #2a5a9c; }

nav.nav-vertical button.cbutt3 {
    background-color: #30A36B; }

nav.nav-vertical button.cbutt4 {
    background-color: #22896E; }

nav.nav-vertical {
    display: inline-block;
    background-color: #3E4C60;
    color: white;
    vertical-align: top;
    height: 100%;
    position: relative;
    font-size: 12px;
    font-family: "open_sansregular";

}

nav.nav-vertical > :first-child {
    margin-top: 3px; }
nav.nav-vertical button {
    background-color: #334051;
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 3px;
    color: white;
    opacity: 0.9;
    text-transform: uppercase;}
nav.nav-vertical button a {
    padding: 15px 0px 10px 0px;
    color: white;
    text-decoration: none;
    display: table ;
    width: 100%;
}
nav.nav-vertical button:hover {
    background-color: #359bc8;
    opacity: 1; }
nav.nav-vertical button a h4 {
    margin: 7px 0px;
}


td.millones {
    min-width:100px;
}

td.ajustarAContenido {
    white-space: nowrap;
}


/* Componente Responsive navegacion */
/* Componente Widget Navegacion Bar */
.widget-NavegacionBar {
    display: block;
    padding: 10px 0px;
    /*position: absolute;*/
    width: 100%; }
.widget-NavegacionBar > :first-child {
    margin-left: 10px; }
.widget-NavegacionBar > :last-child {
    margin-right: 10px; }
.widget-NavegacionBar > div, .widget-NavegacionBar > button {
    display: inline-block; }
.widget-NavegacionBar > div.inputBuscador {
    background: white;
    position: relative;
    border: none; }
.widget-NavegacionBar > div.inputBuscador > input {
    border: solid #3c5a8a 1px;
    outline: none;
    padding: 8px 9px;
    margin-right: 42px; }
.widget-NavegacionBar > div.inputBuscador > button i {
    font-size: 20px;
}
.widget-NavegacionBar > div.inputBuscador > button {
    position: absolute;
    top: 0;
    right: 0;
    background: #1b3c71;
    color: white;

    padding: 6px 12px; }
.widget-NavegacionBar > button, .widget-NavegacionBar .blockNavegacion > button {
    padding: 6px 10px;
    background-color: #e6e6e6;
    color: #1b3c71; }
.widget-NavegacionBar > button.active, .widget-NavegacionBar > button:hover, .widget-NavegacionBar .blockNavegacion > button.active, .widget-NavegacionBar .blockNavegacion > button:hover {
    background-color: #1b3c71;
    color: #ffffff; }

/* ComboTitulo con Barra de herramientas */
.contentComboTitulos {
    margin: 5px;
    padding: 8px;
    border: solid #CCC 1px;
    position: relative;
    padding-right: 55px;
    cursor: pointer; }
.contentComboTitulos h5 {
    height: 18px;
    vertical-align: middle;
    display: table-cell; }

.botonDesplegarTitulos {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    width: 50px;
    background: #1b3c71;
    font-size: 20px;
    color: white;
}

.contentListaTitulos {
    position: relative;
    padding: 0px 8px;
    width: 100%;
    display: none; }
.contentListaTitulos ul {
    position: absolute;
    width: 100%;
    left: -10px;
    list-style: none;
    margin: 0px;
    padding: 0px 0px;
    font-size: 14px;
    top: 8px;
    z-index: 1;
    background-color: white; }
.contentListaTitulos ul li {
    padding: 5px 8px;
    cursor: pointer;
    border-bottom: #CCC solid 1px; }
.contentListaTitulos ul li:hover {
    background-color: #0079c9;
    color: white; }

.BarraHerramientas {
    margin: 5px;
    text-align: right; }
.BarraHerramientas button {
    background-color: #e6e6e6;
    padding: 5px 10px;
    color: #1b3c71; }
.BarraHerramientas button:hover, .BarraHerramientas button.activeButton {
    color: white;
    background-color: #0079c9; }

.block {
    display: none;
    background-color: white; }



/* Spipnner */


.spinner {
    margin: 50% auto;
    width: 70px;
    text-align: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #333;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
      }
}






/* Responsive */


@media screen and (min-width: 1740px) and (max-width: 1900px) {


    /* Ventanas */

    .contennedorTituloVentana h2 {
        font-size: 17px;
    }
    .contennedorTituloVentana h2 > span {
        padding: 0px 8px;
    }

}


@media screen and (min-width: 1500px) and (max-width: 1740px) {

    /* Header Principal */
    /*
        .secLogoTitulo h1 {
            font-size: 18px;
            font-family: 'signikaregular';
            font-weight: normal;
            padding: 0px 20px;
            text-transform: uppercase;

        }

        .tabHeader button {
            font-size: 14px;
            padding: 0px 10px;
        }

        .barHerramientasHeader button {
            font-size: 22px;
        }*/

    .tabHeader button {
        font-size: 15px;
        padding: 0px 8px;
    }


    /* Ventanas */

    .contennedorTituloVentana h2 {
        font-size: 15px;
    }
    .contennedorTituloVentana h2 > span {
        padding: 0px 8px;
    }

}

@media screen and (min-width: 1370px) and (max-width: 1500px) {

/* Header Principal */

    .secLogoTitulo h1 {
        font-size: 19px;
        font-family: 'signikaregular';
        font-weight: normal;
        padding: 0px 20px;
        text-transform: uppercase;

    }


    .barHerramientasHeader button {
        font-size: 22px;
    }

    .tabHeader button {
        font-size: 15px;
        padding: 0px 10px;
    }

/* Ventanas */

    .contennedorTituloVentana h2 {
        font-size: 14px;
    }
    .contennedorTituloVentana h2 > span {
        padding: 0px 8px;
    }

}

/* Pantallas Laptops, netbooks, 12" */

@media screen and (min-width: 1281px) and (max-width: 1370px) {

    /* Header Principal */

    .secLogoTitulo h1 {
        font-size: 18px;
        font-family: 'signikaregular';
        font-weight: normal;
        padding: 0px 20px;
        text-transform: uppercase;

    }

    .tabHeader button {
        font-size: 14px;
        padding: 0px 10px;
    }

    .barHerramientasHeader button {
        font-size: 22px;
    }

    /* Ventanas */

    .contennedorTituloVentana h2 {
        font-size: 13px;
    }
    .contennedorTituloVentana h2 > span {
        padding: 0px 8px;
    }

    /* Botones de ventana */
    .contenedorBotonesVentana > button:last-child {
        margin-right: 7px;
    }

    .contenedorBotonesVentana > button {
        padding: 10px 4px;
    }

}

/* El ancho minimo soportado es 1280 */

@media screen and (max-width: 1281px)  {

    /* Contenedor principal */



    /* Header Principal */

    .secLogoTitulo h1 {
        font-size: 18px;
        font-family: 'signikaregular';
        font-weight: normal;
        padding: 0px 20px;
        text-transform: uppercase;

    }

    .tabHeader button {
        font-size: 14px;
        padding: 0px 10px;
    }

    .barHerramientasHeader button {
        font-size: 22px;
    }

    /* Ventanas */

    .contennedorTituloVentana h2 {
        font-size: 13px;
    }
    .contennedorTituloVentana h2 > span {
        padding: 0px 8px;
    }

    /* Botones de ventana */
    .contenedorBotonesVentana > button:last-child {
        margin-right: 7px;
    }

    .contenedorBotonesVentana > button {
        padding: 10px 4px;
    }

    nav.nav-vertical button.compartirRedesNav, nav.nav-vertical button.irPdfNav {
        display: block;
        position: relative; }
    button.compartirRedes {
        display: none; }
    a.irPdf {
        display: none; }
    nav.nav-vertical {
        display: none;
        position: absolute;
        width: 180px;
        z-index: 99; }
    nav.nav-vertical img {
        height: 30px;
        width: 32px; }
    nav.nav-vertical h4 {
        font-size: 12px; }
    nav.nav-vertical footer {
        position: relative;
        display: none; }
    nav.nav-vertical .contentRedes {
        width: 260px;
        background-color: white;
        box-shadow: black 0px 0px 5px;
        position: absolute;
        z-index: 99;
        top: 0%;
        left: 160px;
        display: none;
        text-align: left;
        color: #333333;
        font-family: signikaregular;
        font-size: 14px; }


}

@media screen and (max-width: 1281px) {

    body div.sectMenuBarTitulo { display: none ;}
    body div.secLogoTitulo{ width:100%;}
    /* Contenedor principal */
    .contenedorVentana > section > header {
        display: none;
    }
    .contenedorVentana {
        width:100%;
    }
    .contenedorVentana > section {
        margin: 0px;
    }
    header.headerPrincipal {
        min-height: 0px;
    }

    .secLogoTitulo img {
        height: 35px;
    }
    button.menuResponsive {
        display: inline-block;
    }

}

@media screen and (max-width: 980px){
    .secLogoTitulo img {
        display: none;
    }

}



@media print and (color) {
    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}

@media print {
    header.headerPrincipal {
        display: none;
    }
    .ventanaMapa {
        display: block;
        height: 800px !important;
    }

}





/* cuadros Estadisticos */

.tabSubTitulo {
    text-align: left;
}
.tabSubTitulo h2 {
    display: inline-block;
    padding-right:20px;
    background-color: #B3B3B3;
    color:#666666;
    border-left-color: #666666 !important;
    vertical-align: middle;
    height: 40px;
    padding-bottom: 0px;
    padding-top: 0px;
    line-height: 40px;
    cursor: pointer;
}

.tabSubTitulo h2:hover {
    background-color: #d2d1d1;
}

.verticalAlignTop {
    vertical-align: top;
}


.tabSubTitulo h2.activeSub {
    background-color: #7b7b7b;

}

h2.activeSubTabVentana {
    background-color: #e6e6e6 !important;
    color:#1B3C71;
    border-left-color: #1B3C71 !important;
}


.tituloIndiceTematico {
    padding: 15px 0px !important;
    border-left:none !important;
}

.contenedorIndice {
    background-color:#3E4C60;
    height: 700px;

}

.buscarIndicadoreTematicos > div {
    display: block;
    padding: 0px 10px;
    background-color: white;
    position: relative;
}

.buscarIndicadoreTematicos > div > input {
    width: 100%;
    outline: none;
    border: none;
    margin: 0px;
    background-color: transparent;
    height: 40px;
    font-family: 'signikaregular';
}

.buscarIndicadoreTematicos > div > div {
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: #12284c;
    color: white;
    height: 42px;
    line-height: 42px;
    width: 40px;
}

.contenedorLista {
    margin-top: 20px;
}

.contenedorLista ul {
    padding: 0px;
    margin:0px

}

.contenedorLista ul li {
    list-style: none;
    text-align: left;
    display: block;
    padding-left:20px;
    height: 55px;
    line-height: 55px;
    color: white;
    font-family: "signikaregular";
    position: relative;
    cursor: pointer;
}

.contenedorLista ul li:hover {
    background-color: #1b3c71;
}

.contenedorLista ul li span:first-child {
    padding-right: 20px;
    font-size: 20px;
}

span.expandirLista {
    position: absolute;
    line-height: 55px;
    right: 20px;
}
