.graficoWidget-top {
    padding: 5px 10px;
    border: 1px solid #c7c6c6;
    width: 25%;
    display: inline-block;
    margin: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #555555;
    font-family: "signikaregular";
    height: 58px;
    vertical-align: middle;
}

.graficoWidget-top span.hombre {
    font-size: 20px;
    color: #d57008;
}
.hombre {
    color: #d57008;
}
.graficoWidget-top span.mujer {
    font-size: 20px;
    color: #990000;
}
.mujer {

    color: #990000;
}

.pobWidText{
    color: #408fb5;
}


.contGraficoMetadatoRespon {
    height: 350px;
    max-height: 350px ;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 47%, rgba(230,230,230,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(241,241,241,1)), color-stop(100%, rgba(230,230,230,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 47%, rgba(230,230,230,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 47%, rgba(230,230,230,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 47%, rgba(230,230,230,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 47%, rgba(230,230,230,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0 );
}
.widgetGraficos {
    height: auto;
    max-height:100%;

}



.widgetMetadatos h1 , .widgetMetadatosT h1  {
    text-align: right;
    display: inline-block;
    color: #1b3c71;
    border-bottom: 2px solid #1b3c71;
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 4px;
}

.referenciaMetadato {
    font-family: 'open_sansregular';
    font-size: 11px;
    color: #2b2b2b;
    display: block;
    text-align: right;
    padding-top: 10px;
}


.contenedorMetadatos {
    margin-top: 10px;
}
.contenidoMetadato {
    background-color: #E6E6E6;
    font-family: "open_sansregular";
    margin-top: 10px;
}

.contenidoMetadato:first-child {
    margin-top: 0px;
}

.contenidoMetadato h3 {
    color:#FFFFFF;
    font-family: "signikaregular";
    font-size: 14px;
    font-weight: normal;
    display: inline-block;
    margin: 0px;
    padding: 5px 8px;
    text-transform: uppercase;
    font-size: 13px;
}

.contenidoMetadato p{
    font-family: 'open_sansregular';
    font-weight: normal;
    font-size: 12px;
    display: block;
    text-align: justify;
    padding: 8px;
    margin: 0px;
}
.contendorSliderGrafico {
    height: auto;
    max-height: 100%;
}


/* Slider Graficos */

.sliderDiv {

    /*height: 220px;
    max-height: 220px;*/
    height: auto;
    max-height: 100%;
    display: block;
    overflow: hidden;
}

.controlSliderGrafico {
    display: block;

}
.botonesControlGrafico {
    display:block;
    padding-bottom: 10px;
}

.botonesControlGrafico button {
    display: inline-block;
    color: #FFFFFF;
    background-color: #CCCCCC;
    padding:7px 12px;
    margin: 0px 5px;
    border:#ffffff solid 3px;

}

.botonesControlGrafico button.btnActiveSlider {
    box-shadow: #845003 0px 0px 5px;
    background-color: #ffc372;

}



.graficoElementSlider {
    height: auto;
    display: block;
}


/* checkbox */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 14px;
    font-family: "signikaregular";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 25px;
    line-height: 27px;
}


.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: solid 2px #888888;
    border-radius: 5px;
}


.container:hover input ~ .checkmark {
    border: solid 2px #d58b5f;
}


.container input:checked ~ .checkmark {
    background-color: #ffc372;
    border: solid 2px transparent;
}


.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


.container input:checked ~ .checkmark:after {
    display: block;
}


.container .checkmark:after {
    left: 6px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.contentCheckbox{
    padding-top:10px;
}
.graficoMaximizado {
    display: inline-block !important;
    max-height: 100%;
    overflow: auto;
}
.graficoMaximizado h3 {
    font-family: 'signikaregular';

 }


/* Colores para metadato */
.contenidoMetadato.pm1 h3 {background-color: #60947D;}
.contenidoMetadato.pm1 p {color: #60947D;}

.contenidoMetadato.pm2 h3 {background-color: #B67437;}
.contenidoMetadato.pm2 p {color: #B67437;}

.contenidoMetadato.pm3 h3 {background-color: #A0505F;}
.contenidoMetadato.pm3 p {color: #A0505F;}

.contenidoMetadato.pm4 h3 {background-color: #217B93;}
.contenidoMetadato.pm4 p {color: #217B93;}



/* Formulas */

.eq-c {
    padding: 10px;
}

.fraction {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.2em 0.4ex;
    text-align: center;
}
.fraction > span {
    display: block;
    padding-top: 0.15em;
}
.fraction span.fdn {border-top: thin solid black;}
.fraction span.bar {display: none;}

/* Responsive */

@media screen and (max-width: 1600px)  {

    .graficoWidget-top {

        width: 24%;
        display: inline-block;

    }
}

@media screen and (max-width: 1450px)  {

    .graficoWidget-top {

        width: 22%;
        display: inline-block;

    }
}
