/* Variables  */

$b: block;
$ib: inline-block;

/* Paleta de colores */
$azulPri: #1B3C71;
$celesteFondo:  #D0E6F0;
$azulGrisAside:  #3E4C60;
$grisTopVentana: #E6E6E6;


/* Tamaños Grid */

$mh100 : 100px;
$anchopor : 100%;

/* Estructuras modulares  */

