@import "gridDmk";
/* Layouts */
/*
  Layout 01:
    Cabecera y estructura principal con 02 ventanas
    <body>
      <header>
      <main>

*/

/* colores redes sociales*/

.textSharingBu{
  display: inline-block;
  vertical-align: middle !important;
  margin-right: 10px;
  color: black;
}

.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em

}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  display: inline-block;
  vertical-align: middle !important;
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--pinterest {
  background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--tumblr {
  background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c
}

.resp-sharing-button--reddit {
  background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}

.resp-sharing-button--google {
  background-color: #dd4b39
}

.resp-sharing-button--google:hover {
  background-color: #c23321
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--xing {
  background-color: #1a7576
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c
}

.resp-sharing-button--whatsapp {
  background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851
}

.resp-sharing-button--hackernews {
  background-color: #FF6600
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }

.resp-sharing-button--vk {
  background-color: #507299
}

.resp-sharing-button--vk:hover {
  background-color: #43648c
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--google {
  background-color: #dd4b39;
  border-color: #dd4b39;
}

.resp-sharing-button--google:hover,
.resp-sharing-button--google:active {
  background-color: #c23321;
  border-color: #c23321;
}

.resp-sharing-button--email {
  background-color: #777777;
  border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}

.resp-sharing-button--linkedin {
  background-color: #0077b5;
  border-color: #0077b5;
}

.resp-sharing-button--linkedin:hover,
.resp-sharing-button--linkedin:active {
  background-color: #046293;
  border-color: #046293;
}

.resp-sharing-button--whatsapp {
  background-color: #25D366;
  border-color: #25D366;
}

.resp-sharing-button--whatsapp:hover,
.resp-sharing-button--whatsapp:active {
  background-color: #1DA851;
  border-color: #1DA851;
}

.resp-sharing-button--telegram {
  background-color: #54A9EB;
}

.resp-sharing-button--telegram:hover {
  background-color: #4B97D1;}






/* Colores */

$AzulInei: #1b3c71;
$CelesteInei:#0079C9;
$NaranjaInei:#d57008;
$RojoPasionInei:#990000;
$CelesteJadeAceroInei:#34718C;
$celesteAcero: #359bc8;
$colorGris66: #4D4D4D;



/* fin colores*/
.bg_AzulInei { background-color: $AzulInei;}
.bg_CelesteInei{background-color: $CelesteInei;}
.bg_NaranjaInei{background-color:$NaranjaInei;}
.bg_RojoPasionInei{background-color: $RojoPasionInei;}
.bg_CelesteJadeAceroInei{background-color:$CelesteJadeAceroInei;}
.bg_celesteAcero{background-color: $celesteAcero;}
.bg_blanco{background-color: white;}
.bg_grisOscuroNav{background-color: #3E4C60;}

.colorBlanco{color:white; }
.colorNaranjaInei{color:$NaranjaInei;}
.colorRojoPasionInei {color: $RojoPasionInei;}
.colorAzulInei{color:$AzulInei;}
.colorGris66{color:$colorGris66;}


nav.nav-vertical  button.cbutt1 {background-color:#2F6ABC}
nav.nav-vertical  button.cbutt2 {background-color:#2a5a9c}
nav.nav-vertical button.cbutt3 {background-color:#30A36B}
nav.nav-vertical button.cbutt4 {background-color:#22896E}



.textSize-24{font-size: 24px;}
.textSize-22{font-size: 22px;}
.textSize-20{font-size: 20px;}
.textSize-18{font-size: 18px;}
.textSize-16{font-size: 16px;}
.textSize-14{font-size: 14px;}
.textSize-13{font-size: 13px;}
.textSize-12{font-size: 12px;}
.textSize-11{font-size: 11px;}
.textSize-10{font-size: 10px;}
.textSize-09{font-size: 9px;}
.textSize-08{font-size: 8px;}

.padding-1{padding:1px;}
.padding-2{padding:2px;}
.padding-3{padding:3px;}
.padding-4{padding:4px;}
.padding-5{padding:5px;}
.padding-6{padding:6px;}
.padding-7{padding:7px;}
.padding-8{padding:8px;}
.padding-9{padding:9px;}
.padding-10{padding:10px;}
.padding-11{padding:11px;}
.padding-12{padding:12px;}
.padding-13{padding:13px;}
.padding-14{padding:14px;}
.padding-15{padding:15px;}
.padding-16{padding:16px;}
.padding-17{padding:17px;}
.padding-18{padding:18px;}
.padding-19{padding:19px;}
.padding-20{padding:20px;}
.padding-21{padding:21px;}
.padding-22{padding:22px;}
.padding-23{padding:23px;}
.padding-24{padding:24px;}
.padding-25{padding:25px;}


.margin-1{margin:1px;}
.margin-2{margin:2px;}
.margin-3{margin:3px;}
.margin-4{margin:4px;}
.margin-5{margin:5px;}
.margin-6{margin:6px;}
.margin-7{margin:7px;}
.margin-8{margin:8px;}
.margin-9{margin:9px;}
.margin-10{margin:10px;}
.margin-11{margin:11px;}
.margin-12{margin:12px;}
.margin-13{margin:13px;}
.margin-14{margin:14px;}
.margin-15{margin:15px;}
.margin-16{margin:16px;}
.margin-17{margin:17px;}
.margin-18{margin:18px;}
.margin-19{margin:19px;}
.margin-20{margin:20px;}
.margin-21{margin:21px;}
.margin-22{margin:22px;}
.margin-23{margin:23px;}
.margin-24{margin:24px;}
.margin-25{margin:25px;}

.marginTop-10 {margin-top: 10px;}
.marginTop-50 {margin-top: 50px;}
.marginBottom-10 {margin-bottom:10px;}
.textAlignRight {text-align: right;}
.textAlignCenter{text-align: center;}
.textAlignLeft{text-align:left;}
.paddingRight-10{padding-right: 10px;}
.paddingRight-20{padding-right: 20px;}
.marginLeftRight-5{margin-right: 5px; margin-left: 5px;}
.marginLeftRight-0{margin-right: 0px; margin-left: 0px;}
.marginLeft-20{margin-left: 20px}
.marginLeft-25{margin-left:25px}

.mayusculas {text-transform: uppercase;}
.vAlignMid{
  vertical-align: middle;
}




/* Iniciales */

$fuenteBase: 'open_sansregular' ;
$fuenteTitulo: 'signikaregular;';


* {
  vertical-align: top;
}
h1, h2,h3,h4,h5,h6{
  /*font-family: $fuenteTitulo;*/
  margin:0;
  padding: 0;
  text-transform: uppercase;
}
h1{font-size: 24px;}
h2{font-size: 18px;}
h3{ font-size: 16px;}
h4{ font-size: 14px; }
h5{ font-size: 12px; }

p{ font-size: 12px; margin:0px;}

/* Body  */

$bg_body: $celesteFondo ;


html, body,  main {
  height: 100%;
}

body {
  background-color: $bg_body ;
  font-family: $fuenteBase;
}
button {
  background-color: transparent;
}

div[role=wrap] {
  display: $b;
}
div[role=wraper] {
  display: $b;
}




/* Componentes*/


/* Header
  El header principal siempre es hijo directo del body

  body > header
*/

$altoHeader : 50px ;
$bg_Header:$azulPri ;
$color_Header: white;

body>header{
  height: $altoHeader;
  background-color: $bg_Header;
  color: $color_Header;
  line-height: $altoHeader ;

  > img, > h1,  button {
    display: $ib;
    vertical-align: middle;
  }
  > img {
    padding-left:25px ;
    height: 70%;
  }
  > h1 {
    font-size: 18px;
    padding-left: 25px ;
    line-height: $altoHeader ;
  }
   >button,> a>button {
    float: right;
    height: 100%;
    background-color: transparent;
    color: $color_Header;
    line-height: 100%;
    padding: 0px 20px;
  }
  > button.menuResponsive{
    float: left;
    margin-right: 5px;
    display: none;
  }
  >a> button:hover,>button:hover {
    background-color: rgba(0,0,0,0.25);
  }

}

/* Fin Header Principal*/



/* Nav Vertical
  Los Nav, deberian ir siempre dentro de la etiqueta main
*/

$bg_navVertical:$azulGrisAside ;
$color_navVertical: white;

nav.nav-vertical {
  display: $ib;
  background-color:$bg_navVertical ;
  color: $color_navVertical;
  vertical-align: top;
  height:100% ;
  position:relative;
  >:first-child{
    margin-top: 3px;
  }
  button{
    background-color: #334051;
    display: $b;
    width:100%;
    padding: 20px 10px;
    margin-bottom: 3px;
    color:white;
    opacity: 0.9;
    a{
      color:white;
      text-decoration: none;
    }
  }
  button:hover{
    background-color: #359bc8;
    opacity: 1;
  }
}



/* fin Nav Vertical */





section.content-row{
  display: $ib;
  vertical-align: top;
}

section.resumen-button-top {
  display: $b;
  text-align: center;
  vertical-align: top;

  >div {
    display: $ib;
    min-height: 60px;
    vertical-align: top;
  }

  >div.resumenIconoDatos {
     .resumenIcono {
      width: 30%;
      display: $ib;
      vertical-align: middle;
       min-height: 85px;
       line-height: 80px;
       img {
         vertical-align: middle;
       }
    }
     .resumenDatos {
      width:70%;
      display: $ib;
      vertical-align: middle;
    }
  }
}

section.agruparTres, section.agruparDos{
  display: none;
}
section.agruparTres > div  div[role="wrap"], section.agruparDos > div  div[role="wrap"] {
  display: $ib;
}

/* COmponenete Ventana */
article.ventana {
  display: $ib;
  vertical-align: top;
  > header {
    background-color: $grisTopVentana;
    color: $azulPri;

    margin: 0px 5px 0px 10px;
    line-height: $mh100*0.3;

    border-left: solid $azulPri 4px;

    > h2 {
      text-transform: uppercase;
      display: $b;
      margin: 0px;
      font-size: 13px;
      padding: 5px;
      padding-left: 15px;
      > button {
        float: right;
        background-color: transparent;
        :hover {
          color: $NaranjaInei;
        }
      }

    }
  }

  >section{
    background-color: white;
    height: $mh100*3.5;
    margin: 0px 5px 0px 10px;
  }

}

/* contenedore tabs de ventanas */
div.contentTabs{
  display: block;
  padding: 10px;
  height:270px;
  overflow-x:hidden;
  overflow-y: hidden;
}
.contentData{
  display: none;
  height:100%;
  text-align: center;

  div.height100{
    height: 100%;
  }
  div.heightAuto{
    height: auto;
  }
  >div {
    display: block;
    width: 100%;
  }
  h2 {
    font-size:12px;
    color:#222222;
    text-align: center;
    display: $b;
    margin-bottom:10px;
    min-height: 25px;
  }

  /* Componente tabla */
  table{
    font-size: 13px;
    text-align: right;
    border-collapse: collapse;
    thead{
      background: #aae0f9;
      color: #222222;
      border-top: #504639 solid 2px;
      border-bottom: #504639 solid 2px;
    }
    tbody tr:nth-child(2n){
      background-color: #e6f6fd ;
    }
    tbody td{
      padding-right: 20px;
    }

  }

  p{
    color:#666;
    font-size: 13px;
    line-height: 135%;
    margin-bottom: 15px;
    display: $b;
  }
  >p{
    color:#666;
    font-size: 13px;
    line-height: 180%;
    margin-bottom: 15px;
    display: $ib;
    width: 70%;
    text-align: justify;
  }
  div.fuenteTabla {
    font-size: 10px;
    display: $b;
    color: #555;
    line-height: 150%;
    text-align: left;
    margin-top: 5px;
    p{
      margin: 0px;
      font-size: 10px;
      display: $b;
      line-height: 150%;
      text-align: left;
    }
  }
}



/* Fin de tablas */





/* ventana Maximizada  */

  article.ventanaMaximizada{
    display: $b;

    vertical-align: top;
    > header{
      background-color: $grisTopVentana;
      color:$azulPri;
      line-height:$mh100*0.3 ;
      border-left: solid $azulPri 4px;
      margin: 0px;

      > h2 {
        text-transform: uppercase;
        display: $b;
        margin: 0px;
        font-size: 13px;
        padding: 5px;
        padding-left:15px;
        > button {
          float: right;
          background-color: transparent;
          :hover {
            color:$NaranjaInei;
          }
        }

      }
    }
    >section{
      background-color: white;
      height: auto !important;
    }
}

 /* custom */
nav.nav-vertical {
  button.compartirRedesNav,button.irPdfNav {
    display: none;
  }
}
footer{
  position: absolute;
  bottom: 10px;
  left:10px;

}

footer > a {
  display: block;
  color: white;
  vertical-align: middle;
  img,p {
    display: inline-block;
    vertical-align: middle;
  }
  img {
    padding-right: 10px;
  }
}


/* Componentes */

/* Visor */

.contenedorMapa > svg{
  display: inline; width: inherit; min-width: inherit; max-width: inherit; height: inherit; min-height: inherit; max-height: inherit;
}

/* */






/* ComboTitulo con Barra de herramientas */

.contentComboTitulos {
  margin:5px;
  padding:8px;
  border: solid #CCC 1px;
  position: relative;
  padding-right: 55px;
  cursor: pointer;

  h5{
    height: 18px;
    vertical-align: middle;
    display: table-cell;
  }
}

.botonDesplegarTitulos{
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  width:50px;
  background: #1b3c71;
  color:white;
}

.contentListaTitulos{
  position: relative;
  padding: 0px 8px;
  width: 100%;
  display: none;

  ul{
    position: absolute;

    width: 100%;
    left: -10px;
    list-style: none;
    margin: 0px;
    padding: 0px 0px;
    font-size: 14px;
    top: 8px;
    z-index: 1;
    background-color: rgba(255,255,255,1);

    li {
      padding: 5px 8px;
      cursor: pointer;
      border-bottom: #CCC solid 1px;
    }

    li:hover{
      background-color: #0079c9;
      color: white;
    }
  }

}
.BarraHerramientas {
  margin:5px;
  text-align: right;
  button {
    background-color: #e6e6e6;
    padding: 5px 10px;
    color: #1b3c71;
  }
  button:hover, button.activeButton{
    color: white;
    background-color: #0079c9;
  }

}


#contenedorPrincipalDashIni {
  overflow-x:hidden;
  overflow-y: auto;
  height: 100%;
}

/*FIn componente */


/* Compartir Redes Sociales */
.contentRedes {
  width: 260px;
  background-color: white;
  box-shadow: black 0px 0px 5px;
  position: absolute;
  z-index: 99;
  top: 50px;
  right: 0;
  display: none;
  text-align: left;
  color: #333333;
  font-family: signikaregular;
  font-size: 14px;
}

/* Tooltip DMK */
.tooltipDash {
  position: relative;

}

.tooltipDash .tooltiptext {
  visibility: visible;
  max-width: 80px;
  width: 80px;
  background-color: black;
  color: #fff !important;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 110%;
  left: 50%;
  margin: 0 auto;
  left:-33px;
  font-family: "signikaregular";
  font-size: 13px;

  .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }

  :hover .tooltiptext {
    visibility: visible;

  }

  .tooltiptext  {
    left:0px;
  }


}


/* Personalizacion Mapa */

button.locationInfo {
  padding: 5px 10px;
  border: none;
  box-shadow: none;
  background-color: #e6e6e6;
  color: #1b3c71;
  cursor: pointer;
  position: relative;

}
button.locationInfo:hover, button.locationInfo.activeButton{
  color: white;
  background-color: #0079c9;
}

.selectMapAnio{
  padding: 4px 10px;
  border: none;
}

.boxInfoMap {
  padding:10px;
  line-height: 130%;
  border: solid 1px #CCC;
  background: rgba(255,255,255,0.85);
  display: none;
  top:35px;
  position: absolute;
  z-index: 999;
  color: #2b2b2b;
  font-size: 10px;
  left:0;
  width:240px;
  text-align: left;

}

h2 > .contentSelect {
  padding: 0px 5px;
  display: inline-block;
  float:left;
  padding-left:0px;
  >select{
    width: 100%;
  }
}

.contentSelect {
  padding: 0px 5px;
  display: inline-block;
  >select{
    width: 100%;
  }
}
select.mapaSelect {
    padding: 5px;
    background-color: #ffffff;
    border: none;
    color: #1b3c71;
    outline: none;
    border-right:solid 5px #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.bordesGraficoLado >div >svg{ border-left:dashed 2px red}
text.highcharts-subtitle {
  font-size: 12px;
  color: #222222 !important;
  fill: #222222 !important;
  font-weight: bold;
  font-family: 'open_sansregular';
}

table tbody.hijoNegro tr:first-child{
  font-weight:bold;
}

td.millones {
  min-width:100px;
}

td.ajustarAContenido {
  white-space: nowrap;
}

td.anchoRangoTabla{
  min-width: 150px !important;
}



/*
  Tooltips
*/




/* Fin tooltips*/








@media screen and (min-width: 1500px) and (max-width: 1700px) {


}

@media screen and (max-width: 1524px)  {
  section.resumen-button-top  {
    display: none;
  }
  section.resumen-button-top.agruparTres {
    display: block;
  }
  section.agruparTres div[role="wrap"] {
    height: 82px;
  }
}
@media screen and (min-width: 1450px) and (max-width: 1650px) {

  body>header>h1{
    font-size: 15px;
  }
  footer > a {
    display: block;
    color: white;
    vertical-align: middle;
    img,p {
      display: inline-block;
      vertical-align: middle;
      font-size: 10px;
    }
    img {
      padding-right: 10px;
    }
  }
}
@media screen and (min-width: 360px) and (max-width: 1450px) {
  footer{
    position: absolute;
    bottom: 10px;
    left:3px;
    max-width: 100%;
  }
  footer > a {
    display: $ib;
    color: white;
    vertical-align: middle;
    img {
      display: inline-block;
      vertical-align: middle;
      padding-right: 5px;
      width:22px;
      height: 22px;
    }
    p {
      display: none;
    }
  }
}

@media screen and (min-width: 1281px){
  nav.nav-vertical {
    display: inline-block !important;
  }
}

@media screen and (min-width: 200px) and (max-width: 1280px) {
  body>header>h1{
    font-size: 14px;
  }
  nav.nav-vertical {
    button.compartirRedesNav,button.irPdfNav {
      display: block;
      position: relative;
    }
  }
  button.compartirRedes{
    display: none;
  }
  a.irPdf{
    display: none;
  }
  nav.nav-vertical{
    display: none;
    position: absolute;
    width:160px;
    z-index: 99;
    img{
      height:30px;
      width: 32px;
    }
    h4 {
      font-size: 12px;
    }
    footer{
      position: relative;
      display: none;


    }
    .contentRedes {
      width: 260px;
      background-color: white;
      box-shadow: black 0px 0px 5px;
      position: absolute;
      z-index: 99;
      top: 0%;
      left: 160px;
      display: none;
      text-align: left;
      color: #333333;
      font-family: signikaregular;
      font-size: 14px;
    }

  }




  body>header> button.menuResponsive{
    display: inline-block;
  }

  section.agruparTres  h4.box1Tablet {
    font-size: 10px;
  }


}
@media screen and (max-width: 1080px) {
  button.ventanaMaximizar {
    display:none;
  }
  body>header>h1{
    font-size: 13px;
  }
}
@media screen and (max-width: 935px) {
  section.agruparTres h1 {
    font-size: 18px;
  }
}

@media screen and (max-width: 915px) {
  section.agruparTres h2 {
    font-size: 15px;
  }
  section.agruparTres .box1Content p {
    font-size: 7px;
  }

}

@media screen and (max-width: 860px) {
  section.agruparTres h1 {
    font-size: 15px;
  }
}

@media screen and (max-width: 780px) {
  section.resumen-button-top.agruparTres {
    display: none;
  }
  section.agruparDos {
    display: block;
  }
  section.agruparDos{
    .bloqueuno,.bloquedos{
      >div{
        height: 91px;
      }
    }
    .bloquedos{
      margin-right: 10px;
    }
  }

}

@media screen and (max-width: 620px) {



  section.agruparDos h1 {
    font-size: 15px;
  }

    section.agruparDos{
      .bloquedos{
        >div{
          height: auto;
        }
      }
      .col-3-6{
        width: 100%;
      }
      .bloqueuno{
        margin: 10px;
        margin-bottom: 0px;
        h1{
          font-size: 18px;
          padding-top:12px;
        }
      }
      .bloquedos,.bloquetres{
        margin:0px 10px;
      }

      .bloquetres h4 span{
        display: inline-block;
      }
    }

}

@media screen and (max-width: 540px) {
  section.agruparDos h1 {
    font-size: 15px;
  }

  section.agruparDos{


    .bloquedos{
      >div{
        height: auto;
      }
    }
    .col-3-6{
      width: 100%;
    }
    .bloqueuno,.bloquedos,.bloquetres{
      margin:0px 10px;

    }
    .bloqueuno{
      margin-top:10px;
    }

    .bloquetres h4 span{
      display: block;

    }
  }
}

@media screen and (max-width: 340px) {


  section.agruparDos{


    .bloquetres h4 span:first-child{
      padding: 0px 10px;

    }
  }
}








/* Responsive De alto */

@media screen and(max-height: 680px ){
  footer{
    position: absolute;
    bottom: 10px;
    left:3px;
    max-width: 100%;
  }
  footer > a {
    display: $ib;
    color: white;
    vertical-align: middle;
    img {
      display: inline-block;
      vertical-align: middle;
      padding-right: 5px;
      width:22px;
      height: 22px;
    }
    p {
      display: none;
    }
  }
}

@media screen and(max-height: 620px ) {
  footer {
    display: none;
  }
}


